@import "variables";
@import "controls";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

body {
  background-color: $color-primary;
  color: $white;
  font-family: Poppins, sans-serif;
}

.title {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
}

.description {
  color: $text-lighter;
  margin-bottom: $spacing-primary;
}

.icon {
  width: 20px;
  height: 20px;
}
