@import "variables";

.projects-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-primary;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: $spacing-primary;
}

.project {
  padding: $spacing-primary;
  border: 1px solid $white;

  &__header {
    display: flex;
    flex-direction: column;

    cursor: pointer;

    &__sub {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: $spacing-primary / 2 0;

      font-weight: lighter;
      font-size: 12px;
    }
  }

  &__graph {
    height: 100px;
    width: calc(100% + #{2 * $spacing-primary});
    margin-left: -$spacing-primary;
  }
}
