@import "variables";

.header {
    display: flex;
    justify-content: space-between;

    padding: $spacing-primary 2rem 0;

    &__title {
        font-size: 18px;
        line-height: 20px;
        padding: $spacing-primary;
    }

}

.body {
    display: grid;
    grid-template-columns: 230px 1.5fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas:
    ". .";

    padding: $spacing-primary;

    .navbar {
        position: relative;
        display: flex;
        flex-direction: column;

        border-radius: $border-radius;
        padding: 0 $spacing-primary 2rem;
        height: calc(100vh - 200px);

        background: linear-gradient(0deg, $blood-orange 0, $orange 100%);
        box-shadow: 0 0 45px 0 rgb(0 0 0 / 60%);


        &__title {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            padding: $spacing-primary / 2 0;

            border-bottom: 1px solid $white;

            .icon {
                width: 40px;
                height: 40px;
                margin: $spacing-primary;
            }
        }

        &__list {
            width: 100%;
        }

        &__item {

            display: flex;
            align-items: center;

            padding: $spacing-primary;
            color: darken($white, 15%);
            font-size: 10px;
            text-transform: uppercase;
            cursor: pointer;

            transition: color .3s ease 0s;

            &:first-child {
                margin-top: $spacing-primary;
            }

            .icon {
                margin-right: $spacing-primary;
            }

            &:hover, &.active {
                color: $white;
            }
        }
    }
}
