@import 'variables';

.config-details-container {
  height: 100%;
}


.table {

  width: 100%;

  font-size: 12px;

  text-align: left;

  th {
    font-weight: bold;
  }

  th, td {
    padding: $spacing-primary;
    border: 1px solid transparentize($white, 0.65);
    vertical-align: middle;
  }

  tr {
    height: 45px;

    .editable {
      padding: 0 0 0 $spacing-primary;

      .edit-value, .edit-input {
        padding: $spacing-small;
      }

      .edit-input {
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
      }
    }
  }
}

.no-configs, .loading-section {
  height: 100%;
}
